<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contest Entry Results</title>
</head>
<body id="body">
    <div id="pg-title">
        <h2>My Contest Entry Results</h2>
        <table border="2">
            <tr>
                <td>Name of Baking Item</td>
                <td>Number of Excellent Votes</td>
                <td>Number of OK Votes</td>
                <td>Number of Bad Votes</td>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                    <td>{{ result[2] }}</td>
                    <td>{{ result[3] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="{{ url_for('home') }}">Go back to home page</a>
        <br>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>